# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
# *.a

# Xcode crap
*mode1v3
*pbxuser
*perspectivev3
*xcuserdata*
*xcworkspace*

# Junk files on Mac OS X
*.DS_Store